<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haoze.dao.kb.EmrSympDao">

    <resultMap id="BaseResultMap" type="com.haoze.model.kb.symp.entity.SympEntity" >
        <result column="PK_SYMP" property="ID" jdbcType="VARCHAR" />
        <result column="PK_ORG" property="organizationID" jdbcType="VARCHAR" />
        <result column="CODE_SYMP" property="sympCode" jdbcType="VARCHAR" />
        <result column="NAME_SYMP" property="sympName" jdbcType="VARCHAR" />
        <result column="PY_CODE" property="pyCode" jdbcType="VARCHAR" />
        <result column="WB_CODE" property="wbCode" jdbcType="VARCHAR" />
        <result column="RANGE" property="range" jdbcType="VARCHAR" />

    </resultMap>
     <sql id="Base_Column_List">
        PK_SYMP,PK_ORG,CODE_SYMP,NAME_SYMP,PY_CODE,WB_CODE,RANGE
    </sql>
    
    <select id="list" resultMap="BaseResultMap">
        select 
          <include refid="Base_Column_List"/>
        from
        bd_symptom
    </select>
    
     <select id="get" resultMap="BaseResultMap">
        SELECT 
          <include refid="Base_Column_List"/>
        FROM bd_symptom where PK_SYMP = #{roleId}
    </select>
    
    <select id="getByName" resultMap="BaseResultMap">
        SELECT 
          <include refid="Base_Column_List"/>
        FROM bd_symptom where NAME_SYMP = #{sympName}
    </select>

    <insert id="save" parameterType="com.haoze.model.kb.symp.entity.SympEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into bd_symptom
        (
        PK_SYMP,
        pk_org,
        code_symp,
        name_symp,
        py_code,
        wb_code,
        range
        )
        values
        (
        #{ID,jdbcType=VARCHAR},
        #{organizationID,jdbcType=VARCHAR},
        #{sympCode,jdbcType=VARCHAR},
        #{sympName,jdbcType=VARCHAR},
        #{pyCode,jdbcType=VARCHAR},
        #{wbCode,jdbcType=VARCHAR},
        #{range,jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.haoze.model.kb.symp.entity.SympEntity">
        update bd_symptom
        <set>
            <if test="organizationID != null">pk_org = #{organizationID,jdbcType=VARCHAR}, </if>
            <if test="sympCode != null">code_symp = #{sympCode,jdbcType=VARCHAR}, </if>
            <if test="sympName != null">name_symp = #{sympName,jdbcType=VARCHAR}, </if>
            <if test="pyCode != null">py_code = #{pyCode,jdbcType=VARCHAR}, </if>
            <if test="wbCode != null">WB_CODE = #{wbCode,jdbcType=VARCHAR},</if>
            <if test="range != null">range = #{range,jdbcType=VARCHAR}</if>
        </set>
        where PK_SYMP = #{ID,jdbcType=VARCHAR}
    </update>

    <delete id="remove">
        delete from bd_symptom where PK_SYMP = #{sympId,jdbcType=VARCHAR}
    </delete>

</mapper>